.options-wrap {
  display: flex;
  gap: 4px;
}

.options-button {
  border: none;
  border: 1px solid #111;

}

.good {
  background-color: rgb(0, 128, 79);
}

.bad {
  background-color: rgb(255, 38, 0);
}

.neutral {
  background-color: rgb(179, 255, 0);
}